.text-limit {
  display: -webkit-box;
  /* max-width: 400px; */
  /* height: 109.2px; */
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.625;
}
.custom-container{
  borde:1px solid red;
  padding:24px;
  display:flex;
  gap:24px;
  flex-wrap: wrap;
}

.custom-card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .08), 0 0 3px rgba(0, 0, 0, .005);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
  margin-bottom: 24px;
  width: 48%;
  display: flex;
  gap: 16px;
  align-items: center;
}
.custom-card:hover{
  background:#e6f4fa;;
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12);
}
.img-holder{
  width: 75px;
}
.img-holder img {
  /*width: 40px;*/
  /*max-width: 100%;*/
  /*height: auto;*/
  object-fit: scale-down;
  width: 76px;
  height: 163px;

}
.content{
  flex:1
}
.img-holder{
  position: relative;
  display: inline-block;

}

.img-holder .sand {
  visibility: hidden;
  max-width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  /*top: -39px;*/
  bottom: 170px;

  left: 72%;
  margin-left: -60px;
  font-size:10px;
  line-height:12px;
  font-weight:400;
  padding:6px;
}

.img-holder .sand::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.img-holder:hover .sand  {
  visibility: visible;
}


@media only screen and (max-width: 900px) {
  .custom-card{
    width:100%;
  }

}